<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mongoGenerator SYSTEM "config/mongo-generator-config_1_0.dtd" >
<mongoGenerator>
    <mongo id="mongo1" host="localhost" auth="false" port="27017" username="local" password="123456"
           source="secret_reconnaissance_pro">
        <database name="local" beanClose="BO">
            <collection name="jsvideo" scannerCount="561" primaryPackage="com.test"  template="t1 t2"/>
        </database>
    </mongo>
    <template id="t1" name="#{dbname}Controller" package="controller">
            public class #{dbname}Controller {

            }
    </template>

    <template id="t2" name="#{dbname}Service" package="service">
        public interface #{dbname}Service{

        }
    </template>
</mongoGenerator>
